@font-face {
    font-family: 'UrbanFont'; /* Nom de la police */
    src: url('chemin/vers/votre/police.woff2') format('woff2'); /* Chemin vers votre police */
  }


.custom-BouttonDeOUf {
    background-color: #973116;
    border: none;
    border-radius: 50%;
    width: 35%; /* Largeur fixe du bouton */
    height: 35%; /* Hauteur fixe du bouton */
    padding: 0; /* Supprime le padding pour maintenir la rondeur */
    cursor: pointer;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s, box-shadow 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden; /* Pour cacher le contenu qui déborde */
    font-family: 'UrbanFont', sans-serif; /* Appliquez la police personnalisée */
    margin-top: 10%;

  }
  
  .custom-BouttonDeOUf::before,
  .custom-BouttonDeOUf::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: -1;
  }
  
  .custom-BouttonDeOUf::before {
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.2), transparent);
    transform: scaleX(1.2) rotate(-45deg);
    top: -10%;
    left: -10%;
  }
  
  .custom-BouttonDeOUf::after {
    background: linear-gradient(45deg, transparent, rgba(0, 0, 0, 0.2));
    transform: scaleY(1.2) rotate(45deg);
    bottom: -10%;
    left: -10%;
  }
  
  .custom-BouttonDeOUf:hover {
    transform: translateY(-2px);
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.4);
  }
  
  .round-button-content {
    color: white;
    text-align: center;
    font-size: 24px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    transition: font-size 0.2s, color 0.2s, transform 0.2s;
    font-family: 'UrbanFont', sans-serif; /* Appliquez la police personnalisée */

  }
  
  .round-button-content p {
    margin: 0;
    line-height: 1.2;
  }
  
  .custom-BouttonDeOUf:hover .round-button-content {
    font-size: 22px;
    color: #086818;
    transform: translateY(-2px);
  }
  
  .custom-BouttonDeOUf:hover .round-button-content p {
    transform: translateY(-2px);
    color: #dddbe0;
  }
  